.employee-page-container {
    color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
    background-color: var(--dark-gray);
}

.employee-toolbar {
    width: 100%;
    background-color: var(--dark-gray);
    background-size: cover;
    min-height: 100%;
    position: fixed;


}

.employee-toolbar-options {
    margin: 10px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.employee-toolbar-button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}

.employee-title {
    font-size: 16px;
}

.employee-bg-line {
    width: 99%;
}

.employee-toolbar-bottom {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
}

.employee-toolbar-bottom-options {
    display: flex;
    width: 150px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;

}

.employee-icons-container {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    margin: 3px 0;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
        transition: 0.4s ease border-radius;
        position: relative;
}

.employee-icons-container2 {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    margin: 3px 0;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #6A6A6A;
}


.line-below {
    margin-left: -20px;
}

.employee-main {
    width: 85vw;
    height: 100vh;
    background-color: #F5F5F5;
    position: absolute;
    left: 185px;
    border-radius: 50px 0 0 50px;
    will-change: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;

}

.heading-div {
    color: var(--dark-gray);
    width: 93%;
    margin-top: 50px;
    padding: 10px;

}

.heading-div h1 {
    font-weight: 600;
    font-size: 28px;
    border-bottom: 2px solid var(--dark-gray);
    margin-bottom: 10px;
}

.heading-div h2 {
    font-weight: 500;
    font-size: 14px;
    color: var(--light-gray);
}

.employee-icons {
    font-size: 10px;
}

.menu-button {
    position: fixed;
    top: 10px;
    right: 5%;
    width: 40px;
    height: 40px;
    background-color: var(--dark-gray);
    color: white;
    z-index: 999;
    border-radius: 10px;
    display: none;
}

.employee-toolbar-leave {
    margin-left: -160px;
    z-index: -1;
}

.employee-toolbar-enter {

    margin-left: 0;
    padding-left: 10px;
    z-index: 998;
}

.employee-toolbar-responsive {
    background-color: var(--dark-gray);
    width: 160px;
    height: 100vh !important;
    position: fixed;
    transition: 0.2s linear margin-left;
    z-index: 998;
    overflow: hidden;
}

@media (max-width: 768px) {
    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .employee-main {
        width: 100vw;
        left: 0;
        border-radius: 0;
    }

}

